@import "assets/styles/box-shadow.scss";

.campaign-view {
    width: 100%;

    .padded {
        padding: 2rem;
    }

    .view-navigation-bar {
        padding: 1rem;
    }

    .campaign-form-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .header {
            font-size: 1.5rem;
            line-height: 3rem;
            width: 75%;
        }

        .campaign-form-component {
            @include box-shadow-shorter(rgba(0, 0, 0, 0.05));
            background-color: #fff;
            padding: 1rem;
            width: 75%;
        }
    }
}
