@import "../../../../assets/styles/colors.scss";

.profile-view {
    display: flex;
    flex: 1;

    .user-profile-component {
        display: flex;
        flex-direction: column;
        flex: 0.3;
        height: 25rem;
    }

    .user-activity-component {
        background-color: $theme_main_background;
        flex: 1;
        padding: 2rem;

        $shadow_color: rgba(0, 0, 0, 0.005);
        box-shadow: inset 2px 0px 4px 0px $shadow_color,
        inset 4px 0 0 0 $shadow_color, 
        inset 6px 0 0 0 $shadow_color, 
        inset 8px 0 0 0 $shadow_color,
        inset 10px 0 0 0 $shadow_color;
    }
}
