.user-profile-pane-index {
    padding: 1rem;

    .user-profile-header {
        display: flex;
        justify-content: right;
    }

    .user-profile-list-view-component {
        padding: 1rem 0;
    }
}
