.message-container {
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 0;

  .icon {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 12.5%;
  }

  .title {
    font-weight: bolder;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.message-container-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.message-container-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.message-container-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.message-container-warn {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
