.create-post-component {
    form {
        display: flex;

        textarea {
            border: none;
            resize: none;
            box-sizing: content-box;

            &:focus {
                box-shadow: none;
            }
        }

        .invalid-feedback {
            display: none;
        }

        button {
            flex: 1;
            align-self: flex-start;
            margin: 1rem;
        }
    }

    .add-media-list {
        background-color: #EFEFEF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        padding: 0.5rem;
        margin-bottom: 0;

        li {
            font-size: 0.8rem;
            color: darken(#EFEFEF, 50%);

            span {
                padding: 0 0.5rem;
            }
        }
    }
}
