@import "../../../../assets/styles/colors.scss";

$home_view_background_color: #f5f6f7;
$home_view_menu_background_color: #f4f4f4;

.home-view {
    background-color: $home_view_background_color;
    display: flex;
    flex: 1;
    flex-direction: column;

    .height-100-pct {
        height: 100%;
    }

    .post-page-component {
        flex: 1;
        margin: 2rem;
    }
}
