$border-color: rgb(185, 185, 185);

.menu-component {
    padding: 0;

    a {
        display: block;
        color: darken($border-color, 25%);

        li.side-menu-item {
            align-items: center;
            display: flex;
            font-size: 0.75rem;
            list-style-type: none;
            padding: 0.25rem 2rem;

            svg {
                padding-right: 1rem;
                font-size: 2rem;
            }

            &.side-menu-item-active {
                color: darken($border-color, 40%);
            }
        }
    }

    a:last-of-type {
        border-bottom: none;
    }
}
