@import "assets/styles/box-shadow.scss";

.table-component {
    @include box-shadow-shorter(rgba(0, 0, 0, 0.05));
    background-color: #fff;

    table {
        margin-bottom: 1rem;

        th {
            text-transform: uppercase;
            font-size: smaller;

            [label="actions"] {
                display: flex;
                justify-content: right;

                span {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }

        td {
            vertical-align: middle;

            .dropdown .nav-link {
                float: right;
            }
        }

        thead {
            $thead-background-color: #e4e4e4;

            background-color: $thead-background-color;
            color: darken($thead-background-color, 40%);
            font-size: 0.85rem;

            tr th {
                border: none;
            }
        }
    }
}
