.attribute-panel-container {
    .header {
        button.header-trigger {
            background-color: rgba(0, 0, 0, 0.11);
            border: 0;
            color: hsl(0, 0%, 22%);
            text-transform: uppercase;
            margin: 0;
            padding: 0.75rem 0.5rem;
            width: 100%;
        }

        span {
            display: flex;
            font-size: 0.75rem;
            justify-content: space-between;
        }
    }

    .controls {
        padding: 1rem;
    }
}
