.status-container {
    display: flex;
    flex-direction: column;

    .none-available {
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.33);
    }

    .status {
        flex: 1;

        &:not(:first-of-type) {
            margin-top: 1em;
        }

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }
}