.basic-info {
    border: 1px solid #BBB;
    display: flex;
    flex-direction: column;
    margin: 1em;

    .action-menu {
        background-color: #FFF;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;

        
        &.cover-image {
            background: hsla(244, 72%, 33%, 0.644) url("../../assets/images/cubes.png");
        }

        p {
            color: #222222;
            font-weight: bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .image {
            display: flex;
            background-color: #FFF;
            height: 80%;
            margin: 1em;
            max-width: 10em;

            img {
                border: 1px solid rgba(0, 0, 0, 0.15);
                width: 100%;
                height: 100%;
                padding: 5px;
            }
        }

        .description {
            .name {
                display: flex;
                flex-direction: row;
               
                .given-name {
                    font-size: 1.8em;
                    padding-right: 0.25em;
                }
                
                .family-name {
                    font-weight: lighter;
                    font-size: 1.8em;
                }
            }
            
            .occupation {
                font-size: 0.75em;
            }
        }
    }
}