@import "./assets/styles/colors.scss";

* {
    font-family: sans-serif;
}

a {
    color: $theme_main_link_color;

    :hover {
        color: darken($theme_main_link_color, 15%);
    }
}

#root > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}