@import "../../../assets/styles/colors.scss";

%hoverable {
  &:hover {
    color: darken($soc_pink, 20%);
  }
}

%focusable {
  border-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:focus {
    outline: 0;
    // border-bottom: 1px solid $soc_pink;
  }
}

.navbar-socialite {
  background-color: #FFF;
  border-bottom: 1px solid #bdc3b7;

  .navbar-brand {
    @extend %focusable;
    min-width: 20px;
    min-height: 30px;

    padding: 0px;

    &:hover img {
      filter: opacity(100%);
    }

    &:focus {
      & > img {
        filter: opacity(100%);
      }
    }

    & > img {
      filter: opacity(66%);
      max-height: 1em;
      width: auto;

    }
  }

  .navbar-toggler {
    @extend %focusable;

    border-radius: 0;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 115, 200, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    .nav-link {
      @extend %hoverable;
      @extend %focusable;

      color: $soc_pink;
    }

    .show .nav-link {
      text-align: right;
    }
  }
}