@import "../../../../assets/styles/colors.scss";

.settings-view {
    background-color: $theme_main_background;
    display: flex;
    flex-direction: column;
    height: 100%;

    .menu-pane {
        display: flex;
        flex-direction: row;
    }

    .settings-menu-component {
        display: flex;
        flex-direction: column;
        flex-grow: 0.1;
        padding: 1.25rem 0.75rem;
        overflow-y: auto;
    }

    .list-group-item {
        padding: 0.5rem 2rem;

        span {
            padding: 0.5rem;
        }
    }

    .settings-pane-component {
        flex: 1;
        margin: 1rem;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
}
