.user-profile-form-component {
    .hint {
        font-size: smaller;
        color: lighten(gray, 5%);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        > div {
            padding: 0.5rem 0;
        }

        .what-where {
            display: flex;
            justify-content: space-around;
        }
    }
}
