.padding-attribute {
    span.mode {
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}
