@import "../../../assets/styles/colors.scss";

%hoverable {
  &:hover {
    color: darken($theme_main_link_color, 20%) !important;
  }
}

%focusable {
  border-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:focus {
    outline: 0;
  }
}

nav.navbar-application {
  background-color: #FFF;
  padding: 1rem;

  .navbar-brand {
    @extend %focusable;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;

    &:hover img {
      filter: opacity(100%);
    }

    &:focus {
      & > img {
        filter: opacity(100%);
      }
    }

    & > img {
      filter: opacity(66%);
      max-height: 1em;
      width: auto;

    }
  }

  .navbar-options {
    display: flex;
    justify-content: right;
  }

  .navbar-toggler {
    @extend %focusable;

    border-radius: 0;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(124, 114, 135, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    .nav-link {
      @extend %hoverable;
      @extend %focusable;
      
      transition: 0.34s;

      color: $theme_main_link_color;

      &.link-subdued {
        color: $theme_main_link_subdued_color !important;
      }

      &.dimmer {
        color: lighten($theme_main_link_color, 35%);
      }
    }
  }
}