@import "../../../../assets/styles/colors.scss";

.home-view {
    background-color: $theme_main_background;
    display: flex;
    flex: 1;
    flex-direction: column;

    .height-100-pct {
        height: 100%;
    }

    .post-page-component {
        flex: 1;
        margin: 2rem;
    }
}
