.user-profile-component {
    .header {
        height: 75%;
        background-size: cover;
    }

    .user-avatar-component {
        $avatar_size: 10em;
        $avatar_offset: $avatar_size / 2;

        height: $avatar_offset;

        .avatar {
            position: relative;
            top: -$avatar_offset;
            background-size: cover;
            width: $avatar_size;
            height: $avatar_size;
            margin: 0 auto;
            border-radius: 2.5em;
            border: 2px solid white;

            $trans_duration: 0.225s;
            transition: width $trans_duration, height $trans_duration, top $trans_duration;

            &.expanded {
                $scaling_factor: 2;
                top: -($scaling_factor * $avatar_offset);
                background-size: cover;
                width: (0.75 * $scaling_factor) * $avatar_size;
                height: (0.75 * $scaling_factor) * $avatar_size;
            }
        }
    }

    .user-info-component {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            font-weight: bolder;
        }

        .what-where {
            display: flex;
            width: 100%;

            div {
                flex: 1;
                display: flex;
                padding: 0.5rem;
                justify-content: center;
                align-items: center;
                color: lighten($color: #333333, $amount: 25%);
            }

            span {
                text-align: center;
            }

            :first-child > span {
                margin-left: auto;
            }

            :nth-child(2) {
                flex: 0.05;
            }

            :last-child > span {
                margin-right: auto;
            }
        }
    }
}
