@import "./assets/styles/colors.scss";

* {
    font-family: sans-serif;
}

body {
    background-color: $theme-main-background;
}

a {
    color: $theme_main_link_color;

    :hover {
        color: darken($theme_main_link_color, 15%);
    }
}

#root > div {
    display: flex;
    height: 100vh;

    .navigation-menu {
        flex: 1;
        max-width: 12.5rem;
    }

    main {
        width: 100%;
    }
}
